In [6]:
import numpy as np
import pandas as pd


# Read the Excel file into a DataFrame
df = pd.read_excel("GSAF5.xls")
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [168]:

#Find unique val. for USA states
tar_country = 'USA'
unique_states = df[df['Country'] == tar_country]['State'].unique()

print("Unique states in", tar_country, ":", unique_states)

# for usa, new column with west coast, east coast, islands, other
unique_states = ['HAWAII', 'FLORIDA', 'CALIFORNIA', 'SOUTH CAROLINA', 'NORTH CAROLINA',
                 'NEW YORK', 'NEW JERSEY', 'SAMOA', 'TEXAS', 'LOUISIANA', 'MISSISSIPPI',
                 'NOIRTH CAROLINA', 'GEORGIA', 'ALABAMA', 'MARYLAND', 'BAHAMAS', 'MAUI',
                 'OREGON', 'FRANKLIN COUNTY, FLORIDA', 'VIRGIN ISLANDS', 'MAINE', 'DELAWARE',
                 'GUAM', 'CAYMAN ISLANDS', 'RHODE ISLAND', 'MASSACHUSETTS', 'WASHINGTON',
                 'PALMYRA ATOLL', 'PUERTO RICO', 'VIRGINIA', 'US VIRGIN ISLANDS', 'KENTUCKY',
                 'NEW MEXICO', 'JOHNSTON ATOLL', 'ALASKA', 'MISSOURI', 'NAN',
                 'NORTH & SOUTH CAROLINA', 'CAROLINA COAST', 'CONNECTICUT', 'PENNSYLVANIA',
                 'ILLINOIS', 'WAKE ISLAND', 'MIDWAY ATOLL', 'EAST COAST', 'CUBA']

tar_country = 'USA'

unique_states = df[df['Country'] == tar_country]['State'].unique()
print("Unique states in", tar_country, ":", unique_states)

state_category_mapping = {
    'West Coast': ['CALIFORNIA', 'OREGON', 'WASHINGTON'],
    'East Coast': ['FLORIDA', 'SOUTH CAROLINA', 'NORTH CAROLINA', 'NEW YORK', 'NEW JERSEY', 'NOIRTH CAROLINA', 'GEORGIA', 'ALABAMA', 'MARYLAND', 'FRANKLIN COUNTY, FLORIDA', 'MAINE', 'DELAWARE', 'RHODE ISLAND', 'MASSACHUSETTS', 'CONNECTICUT', 'PENNSYLVANIA'],
    'Islands': ['HAWAII', 'SAMOA', 'BAHAMAS', 'MAUI', 'VIRGIN ISLANDS', 'GUAM', 'CAYMAN ISLANDS', 'PALMYRA ATOLL', 'PUERTO RICO', 'US VIRGIN ISLANDS', 'JOHNSTON ATOLL', 'WAKE ISLAND', 'MIDWAY ATOLL', 'CUBA']}

# Define a function to categorize the states
def categorize_state(state):
    for category, states in state_category_mapping.items():
        if state.upper() in states:
            return category
    return 'Other'

df['USA Coast'] = df.apply(lambda row: categorize_state(row['State']) if row['Country'] == 'USA' else np.nan, axis=1)

df['State'] = df['State'].str.title()
df

Unique states in USA : ['Hawaii' 'Florida' 'California' 'South Carolina' 'North Carolina'
 'New York' 'New Jersey' 'Samoa' 'Texas' 'Louisiana' 'Mississippi'
 'Noirth Carolina' 'Georgia' 'Alabama' 'Maryland' 'Bahamas' 'Maui'
 'Oregon' 'Franklin County, Florida' 'Virgin Islands' 'Maine' 'Delaware'
 'Guam' 'Cayman Islands' 'Rhode Island' 'Massachusetts' 'Washington'
 'Palmyra Atoll' 'Puerto Rico' 'Virginia' 'Us Virgin Islands' 'Kentucky'
 'New Mexico' 'Johnston Atoll' 'Alaska' 'Missouri' 'Nan'
 'North & South Carolina' 'Carolina Coast' 'Connecticut' 'Pennsylvania'
 'Illinois' 'Wake Island' 'Midway Atoll' 'East Coast' 'Cuba']
Unique states in USA : ['Hawaii' 'Florida' 'California' 'South Carolina' 'North Carolina'
 'New York' 'New Jersey' 'Samoa' 'Texas' 'Louisiana' 'Mississippi'
 'Noirth Carolina' 'Georgia' 'Alabama' 'Maryland' 'Bahamas' 'Maui'
 'Oregon' 'Franklin County, Florida' 'Virgin Islands' 'Maine' 'Delaware'
 'Guam' 'Cayman Islands' 'Rhode Island' 'Massachusetts' 'Washington'
 'Palmyra Atoll' 'Puerto Rico' 'Virginia' 'Us Virgin Islands' 'Kentucky'
 'New Mexico' 'Johnston Atoll' 'Alaska' 'Missouri' 'Nan'
 'North & South Carolina' 'Carolina Coast' 'Connecticut' 'Pennsylvania'
 'Illinois' 'Wake Island' 'Midway Atoll' 'East Coast' 'Cuba']

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22,usa_states,USA Coast
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,BARGARA BEACH,Swimming,Brooklyn Sauer,F,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"OLD MAN'S, WAIKIKI",Surfing,Matthew White,M,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Islands,Islands
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"RAINBOWS, OAHU",Swimming,NaN,F,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Islands,Islands
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"SANDLND ISLAND, JURIAN BAY",NaN,female,F,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"VAITARNA RIVER, PALGHAR DISTRICT",Fishing,Vicky Suresh Govari,M,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6964,NaN,NaN,NaN,NAN,Nan,NAN,NaN,NaN,NaN,NaN,...,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,,NaN
6965,NaN,NaN,NaN,NAN,Nan,NAN,NaN,NaN,NaN,NaN,...,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,,NaN
6966,NaN,NaN,NaN,NAN,Nan,NAN,NaN,NaN,NaN,NaN,...,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,,NaN
6967,NaN,NaN,NaN,NAN,Nan,NAN,NaN,NaN,NaN,NaN,...,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,,NaN
6968,NaN,NaN,NaN,NAN,Nan,NAN,NaN,NaN,NaN,NaN,...,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,,NaN

In [155]:
tar_country = 'AUSTRALIA'

# Filter the DataFrame based on the condition in the 'country' column and get unique states
unique_states = df[df['Country'] == tar_country]['State'].unique()

print("Unique states in", tar_country, ":", unique_states)

Unique states in AUSTRALIA : ['QUEENSLAND' 'WESTERN AUSTRALIA' 'NEW  SOUTH WALES' 'SOUTH AUSTRALIA'
 'NEW SOUTH WALES' 'WESTERM AUSTRALIA' 'NEW SOUTH ALES'
 'WESTERN  AUSTRALIA' 'VICTORIA' 'NAN' 'TASMANIA' 'NORTHERN TERRITORY'
 'TORRES STRAIT' 'TERRITORY OF COCOS (KEELING) ISLANDS' 'NORFOLK ISLAND']

in gral: look at deleting all the duplicate rows, formating all columns heads, 
# Remove duplicates and reset the index
df_without_duplicates = df.copy()
df_without_duplicates = df.drop_duplicates(subset=['Sex', 'Age'])
df_without_duplicates.tail() # look at the gaps in the index

1. quick look at empty countries, and deleting all countries except austrailia and usa
1. make them all capital
2 null values 
check
df.isna().any()
count
df.isna().sum()
duplicates - no need for these 3 columns
strings
formating

In [129]:
df['Location'].value_counts()[29:60]

Location
Thursday Island                         9
Havana Harbor                           9
North Beach, Durban                     9
Nahoon, East London                     9
Near Thursday Island                    9
Brisbane River                          9
Daytona Beach Shores, Volusia County    8
Port Said                               8
Moreton Bay                             8
Riviera Beach, Palm Beach County        8
Quy Nhon                                8
Folly Beach, Charleston County          8
Oreti Beach                             8
Country Club Beach, Durban              8
Newcastle                               8
Amanzimtoti                             8
Sanibel Island, Lee County              8
False Bay                               8
Marathon, Monroe County                 7
Key West, Monroe County                 7
Gulf Shores, Baldwin County             7
Plettenberg Bay                         7
Fort Lauderdale, Broward County         7
Charleston                              7
Pensacola Bay, Escambia County          7
Port Alfred                             7
Huntington Beach, Orange County         7
Ross River, Townsville                  7
Coogee                                  7
Bunbury                                 7
Bondi                                   7
Name: count, dtype: int64

In [99]:

df['Country'] = df['Country'].astype(str)
df['Location'] = df['Location'].astype(str)
df['State'] = df['State'].astype(str)

In [127]:
print(df['Country'].dtype)
print(df['Location'].dtype)
print(df['State'].dtype)

object
object
object

In [138]:
#Rename column names:

columns_to_check = ['Country', 'State', 'Location']

#Check for datatypes
column_types = df[['Country', 'State', 'Location']].dtypes

# Filter the DataFrame to show only rows where any of the specified columns have missing values
df['Country'].isna().sum()
df['State'].isna().sum()
df['Location'].isna().sum()
missing_values_df = df[df[columns_to_check].isna().all(axis=1)]

# Display the rows with missing values in any of the specified columns
print(missing_values_df)

#deleted all rows where both country state and location where empty - first delete empties for whole thing
df_cleaned_nulls_csl= df.dropna(subset=columns_to_check, how='all')
#double check result
missing_values = df_cleaned_nulls_csl.isna().sum()
print(missing_values) #for countries just 21 empty countries after deleting, should we fill up the info having the state/location?

# Check for duplicates: no need for these columns

#All countries in uppercase:
df['Country'] = df['Country'].str.upper()
#Stateas and Location in propercase:
df['Location'] = df['Location'].str.upper()
df['State'] = df['State'].str.upper()                                   
                                        
# Remove Whitespaces
df['Country'] = df['Country'].str.strip()
df['Location'] = df['Location'].str.strip()
df['State'] = df['State'].str.strip()

#Delete rows for other countries:

Empty DataFrame
Columns: [Date, Year, Type, Country, State, Location, Activity, Name, Sex, Age, Injury, Unnamed: 11, Time, Species , Source, pdf, href formula, href, Case Number, Case Number.1, original order, Unnamed: 21, Unnamed: 22]
Index: []

[0 rows x 23 columns]
Date                25
Year                27
Type                43
Country              0
State                0
Location             0
Activity           611
Name               245
Sex                604
Age               3019
Injury              60
Unnamed: 11        587
Time              3551
Species           3157
Source              44
pdf                170
href formula       150
href               173
Case Number        171
Case Number.1      172
original order     170
Unnamed: 21       6968
Unnamed: 22       6967
dtype: int64

75

In [18]:
print('Unique values in State')
print(df['Country'].unique())
print(df['Country'].nunique())
print('--------------------------------')

Unique values in State
['AUSTRALIA' 'USA' 'INDIA' 'TRINIDAD' 'BAHAMAS' 'SOUTH AFRICA' 'MEXICO'
 'NEW ZEALAND' 'EGYPT' 'Mexico' 'BELIZE' 'PHILIPPINES' 'Coral Sea' 'SPAIN'
 'PORTUGAL' 'SAMOA' 'COLOMBIA' 'ECUADOR' 'FRENCH POLYNESIA'
 'NEW CALEDONIA' 'TURKS and CaICOS' 'CUBA' 'BRAZIL' 'SEYCHELLES'
 'ARGENTINA' 'FIJI' 'MeXICO' 'Maldives' 'South Africa' 'ENGLAND' 'JAPAN'
 'INDONESIA' 'JAMAICA' 'MALDIVES' 'THAILAND' 'COLUMBIA' 'COSTA RICA'
 'New Zealand' 'British Overseas Territory' 'CANADA' 'JORDAN'
 'ST KITTS / NEVIS' 'ST MARTIN' 'PAPUA NEW GUINEA' 'REUNION ISLAND'
 'ISRAEL' 'CHINA' 'IRELAND' 'ITALY' 'MALAYSIA' 'LIBYA' nan 'MAURITIUS'
 'SOLOMON ISLANDS' 'ST HELENA, British overseas territory' 'COMOROS'
 'REUNION' 'UNITED KINGDOM' 'UNITED ARAB EMIRATES' 'CAPE VERDE' 'Fiji'
 'DOMINICAN REPUBLIC' 'CAYMAN ISLANDS' 'ARUBA' 'MOZAMBIQUE' 'PUERTO RICO'
 'ATLANTIC OCEAN' 'GREECE' 'ST. MARTIN' 'FRANCE' 'TRINIDAD & TOBAGO'
 'KIRIBATI' 'DIEGO GARCIA' 'TAIWAN' 'PALESTINIAN TERRITORIES' 'GUAM'
 'NIGERIA' 'TONGA' 'SCOTLAND' 'CROATIA' 'SAUDI ARABIA' 'CHILE' 'ANTIGUA'
 'KENYA' 'RUSSIA' 'TURKS & CAICOS' 'UNITED ARAB EMIRATES (UAE)' 'AZORES'
 'SOUTH KOREA' 'MALTA' 'VIETNAM' 'MADAGASCAR' 'PANAMA' 'SOMALIA' 'NEVIS'
 'BRITISH VIRGIN ISLANDS' 'NORWAY' 'SENEGAL' 'YEMEN' 'GULF OF ADEN'
 'Sierra Leone' 'ST. MAARTIN' 'GRAND CAYMAN' 'Seychelles' 'LIBERIA'
 'VANUATU' 'MEXICO ' 'HONDURAS' 'VENEZUELA' 'SRI LANKA' ' TONGA' 'URUGUAY'
 'MICRONESIA' 'CARIBBEAN SEA' 'OKINAWA' 'TANZANIA' 'MARSHALL ISLANDS'
 'EGYPT / ISRAEL' 'NORTHERN ARABIAN SEA' 'HONG KONG' 'EL SALVADOR'
 'ANGOLA' 'BERMUDA' 'MONTENEGRO' 'IRAN' 'TUNISIA' 'NAMIBIA'
 'NORTH ATLANTIC OCEAN' 'SOUTH CHINA SEA' 'BANGLADESH' 'PALAU'
 'WESTERN SAMOA' 'PACIFIC OCEAN ' 'BRITISH ISLES' 'GRENADA' 'IRAQ'
 'TURKEY' 'SINGAPORE' 'NEW BRITAIN' 'SUDAN' 'JOHNSTON ISLAND'
 'SOUTH PACIFIC OCEAN' 'NEW GUINEA' 'RED SEA' 'NORTH PACIFIC OCEAN'
 'FEDERATED STATES OF MICRONESIA' 'MID ATLANTIC OCEAN' 'ADMIRALTY ISLANDS'
 'BRITISH WEST INDIES' 'SOUTH ATLANTIC OCEAN' 'PERSIAN GULF'
 'RED SEA / INDIAN OCEAN' 'PACIFIC OCEAN' 'NORTH SEA' 'NICARAGUA '
 'MALDIVE ISLANDS' 'AMERICAN SAMOA' 'ANDAMAN / NICOBAR ISLANDAS' 'GABON'
 'MAYOTTE' 'NORTH ATLANTIC OCEAN ' 'THE BALKANS' 'SUDAN?' 'MARTINIQUE'
 'INDIAN OCEAN' 'GUATEMALA' 'NETHERLANDS ANTILLES'
 'NORTHERN MARIANA ISLANDS' 'IRAN / IRAQ' 'JAVA' 'SIERRA LEONE'
 ' PHILIPPINES' 'NICARAGUA' 'CENTRAL PACIFIC' 'SOLOMON ISLANDS / VANUATU'
 'SOUTHWEST PACIFIC OCEAN' 'BAY OF BENGAL' 'MID-PACIFC OCEAN' 'SLOVENIA'
 'CURACAO' 'ICELAND' 'ITALY / CROATIA' 'BARBADOS' 'MONACO' 'GUYANA'
 'HAITI' 'SAN DOMINGO' 'KUWAIT' 'YEMEN ' 'FALKLAND ISLANDS' 'CRETE'
 'CYPRUS' 'EGYPT ' 'WEST INDIES' 'BURMA' 'LEBANON' 'PARAGUAY'
 'BRITISH NEW GUINEA' 'CEYLON' 'OCEAN' 'GEORGIA' 'SYRIA' 'TUVALU'
 'INDIAN OCEAN?' 'GUINEA' 'ANDAMAN ISLANDS' 'EQUATORIAL GUINEA / CAMEROON'
 'COOK ISLANDS' 'TOBAGO' 'PERU' 'AFRICA' 'ALGERIA' 'Coast of AFRICA'
 'TASMAN SEA' 'GHANA' 'GREENLAND' 'MEDITERRANEAN SEA' 'SWEDEN' 'ROATAN'
 'Between PORTUGAL & INDIA' 'DJIBOUTI' 'BAHREIN' 'KOREA' 'RED SEA?'
 'ASIA?' 'CEYLON (SRI LANKA)']
225
--------------------------------

In [ ]:
'''
def initial_categorize_activity(activity):
    activity_str = str(activity)  # Ensure the activity is treated as a string
    activity_lower = activity_str.lower()
    if 'swim' in activity_lower:
        return 'swimming_1'
    elif 'fish' in activity_lower:
        return 'fishing_1'
    elif 'surf' in activity_lower or 'board' in activity_lower:
        return 'water_sports_1'
    else:
        return 'other_1'

# Convert the 'activities' column to strings
df_florida['Activity'] = df_florida['Activity'].astype(str)

# Apply the initial categorization function to the 'activities' column
df_florida['initial_category'] = df_florida['Activity'].apply(initial_categorize_activity)

# Create a DataFrame for manual categorization
df_florida = df_florida[df_florida['initial_category'] == 'other_1'].copy()

# Manually categorize each activity in manual_df
manual_categorization = {
    'Sitting': 'other',
    'Wading': 'swimming',
    'Lobstering': 'fishing',
    'Scalloping': 'fishing',
    'Jumped into water': 'swimming',
    'Standing': 'other',
    'Playing': 'other',
    'Walking': 'other',
    'Feeding sharks': 'other',
    'Photo shoot': 'other',
    'Teasing a shark': 'other',
    'SUP': 'water sports',
    'Photographing fish': 'other',
    'Attempting to rescue a shark': 'other',
    'Photographing the shark': 'other',
    'Casting a net': 'fishing',
    'Playing in the surf': 'water sports',
    'Free diving ': 'water sports',
    'Jet skiing': 'water sports',
    'Scuba diving': 'water sports',
    'Measuring sharks': 'other',
    'Crawling': 'other',
    'Walking out of the water after surfing': 'water sports',
    'Wading?': 'swimming',
    'Jumping': 'other',
    'Floating near boat & observing bioluminesce': 'other',
    'Jumped into the water': 'swimming',
    'Removing hook from shark': 'fishing',
    'Playing on a sandbar': 'other',
    'Shrimping': 'fishing',
    'Playing soccer in the water': 'other',
    'Diving / Kissing the shark': 'water sports',
    'Treading water/ Surfing': 'water sports',
    'Standing / Surfing': 'water sports',
    'Crouching in 2\' of water': 'swimming',
    'In water with diving seabirds': 'water sports',
    'Walking, carrying surfboard & stepped on shark': 'water sports',
    'Petting captive sharks': 'other',
    'Floating on a raft': 'water sports',
    'Playing in the surf with his 2 dogs': 'water sports',
    'Wreck / Technical diving': 'water sports',
    'Walking in shallows': 'swimming',
    'Attempting to illegally enter the USA': 'other',
    'Sailing': 'water sports'
}

df_florida['manual_category'] = df_florida['Activity'].map(manual_categorization)

# Combine initial and manual categorization
df_florida['Activity Category'] = df_florida['initial_category']
df_florida.loc[df_florida['initial_category'] == 'other_1', 'Activity Category'] = df_florida['manual_category'].values

# Replace final category names
df_florida['Activity Category'] = df_florida['Activity Category'].replace({
    'swimming_1': 'swimming',
    'fishing_1': 'fishing',
    'water_sports_1': 'water sports'
})

# Display the updated DataFrame
print(df)
df_florida.head()
'''

In [ ]:
#############################7
# ACTIVITY CATEGORY (NEW COLUMN)
############################

# WE´LL NEED TO CHANGE INDEX
# Function to categorize activities
def categorize_activity(activity):
    activity_str = str(activity)  # Ensure the activity is treated as a string
    activity_lower = activity_str.lower()  # Ensure all lowercase
    if 'swim' in activity_lower:
        return 'swimming'
    elif 'fish' in activity_lower:
        return 'fishing'
    elif 'surf' in activity_lower or 'board' in activity_lower or 'div':
        return 'water sports'
    else:
        return 'other'

# Apply the categorization function to the 'activities' column and create the 'activity_category' column
df_florida['activity_category'] = df_florida['Activity'].apply(categorize_activity)