In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

bcn_df = pd.read_csv ('../data/raw/barcelona_listings_kagel.csv')
#print(bcn_df) # 19k rows  106 cols
print ('Understanding the data set')
print('The number of rows al columns in the original data set is: ',bcn_df.shape)
print('The list of columns in the original data set is: ',bcn_df.columns)
#bcn_df.columns
print('The number of rows al columns in the original data set is: ', bcn_df.info())
bcn_df.head()

bcn_df.columns.nunique()

/var/folders/yl/d5x0r6t10l52bms12sy70rzc0000gn/T/ipykernel_90959/1820130592.py:6: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  bcn_df = pd.read_csv ('../data/raw/barcelona_listings_kagel.csv')

Understanding the data set
The number of rows al columns in the original data set is:  (19833, 62)
The list of columns in the original data set is:  Index(['id', 'listing_url', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'access', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_response_time', 'host_response_rate',
       'host_is_superhost', 'host_picture_url', 'host_neighbourhood',
       'host_listings_count', 'host_verifications', 'host_has_profile_pic',
       'host_identity_verified', 'street', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'city',
       'zipcode', 'country', 'latitude', 'longitude', 'is_location_exact',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'amenities', 'square_feet', 'price', 'cleaning_fee',
       'minimum_nights', 'maximum_nights', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'number_of_reviews_ltm',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'instant_bookable',
       'reviews_per_month'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19833 entries, 0 to 19832
Data columns (total 62 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            19833 non-null  int64
 1   listing_url                   19833 non-null  object
 2   name                          19816 non-null  object
 3   summary                       18823 non-null  object
 4   space                         14599 non-null  object
 5   description                   19472 non-null  object
 6   neighborhood_overview         13039 non-null  object
 7   access                        10704 non-null  object
 8   picture_url                   19833 non-null  object
 9   host_id                       19833 non-null  int64
 10  host_url                      19833 non-null  object
 11  host_name                     19799 non-null  object
 12  host_since                    19799 non-null  object
 13  host_response_time            17315 non-null  object
 14  host_response_rate            17315 non-null  object
 15  host_is_superhost             19799 non-null  object
 16  host_picture_url              19799 non-null  object
 17  host_neighbourhood            15953 non-null  object
 18  host_listings_count           19799 non-null  float64
 19  host_verifications            19799 non-null  object
 20  host_has_profile_pic          19799 non-null  object
 21  host_identity_verified        19799 non-null  object
 22  street                        19833 non-null  object
 23  neighbourhood                 19823 non-null  object
 24  neighbourhood_cleansed        19833 non-null  object
 25  neighbourhood_group_cleansed  19833 non-null  object
 26  city                          19829 non-null  object
 27  zipcode                       19229 non-null  object
 28  country                       19833 non-null  object
 29  latitude                      19833 non-null  float64
 30  longitude                     19833 non-null  float64
 31  is_location_exact             19833 non-null  object
 32  property_type                 19833 non-null  object
 33  room_type                     19833 non-null  object
 34  accommodates                  19833 non-null  int64
 35  bathrooms                     19824 non-null  float64
 36  bedrooms                      19830 non-null  float64
 37  beds                          19799 non-null  float64
 38  amenities                     19833 non-null  object
 39  square_feet                   524 non-null    float64
 40  price                         19833 non-null  object
 41  cleaning_fee                  15764 non-null  object
 42  minimum_nights                19833 non-null  int64
 43  maximum_nights                19833 non-null  int64
 44  has_availability              19833 non-null  object
 45  availability_30               19833 non-null  int64
 46  availability_60               19833 non-null  int64
 47  availability_90               19833 non-null  int64
 48  availability_365              19833 non-null  int64
 49  number_of_reviews             19833 non-null  int64
 50  number_of_reviews_ltm         19833 non-null  int64
 51  first_review                  15215 non-null  object
 52  last_review                   15215 non-null  object
 53  review_scores_rating          14986 non-null  float64
 54  review_scores_accuracy        14978 non-null  float64
 55  review_scores_cleanliness     14978 non-null  float64
 56  review_scores_checkin         14973 non-null  float64
 57  review_scores_communication   14982 non-null  float64
 58  review_scores_location        14975 non-null  float64
 59  review_scores_value           14976 non-null  float64
 60  instant_bookable              19833 non-null  object
 61  reviews_per_month             15215 non-null  float64
dtypes: float64(15), int64(11), object(36)
memory usage: 9.4+ MB
The number of rows al columns in the original data set is:  None

62

In [5]:
# columns that we dont need: 'listing_url' , 'summary', 'picture_url', 'host_name', host_url
#bcn_df['country'].unique()) #there irs only spain delete column
#columns_to_delete = ['listing_url','summary','picture_url','host_name','host_url','country' ]  
columns_to_delete = ['summary']
bcn_df.drop(columns=columns_to_delete, inplace=True)
bcn_df.columns

Index(['id', 'listing_url', 'name', 'space', 'description',
       'neighborhood_overview', 'access', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_response_time', 'host_response_rate',
       'host_is_superhost', 'host_picture_url', 'host_neighbourhood',
       'host_listings_count', 'host_verifications', 'host_has_profile_pic',
       'host_identity_verified', 'street', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'city',
       'zipcode', 'country', 'latitude', 'longitude', 'is_location_exact',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'amenities', 'square_feet', 'price', 'cleaning_fee',
       'minimum_nights', 'maximum_nights', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'number_of_reviews_ltm',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'instant_bookable',
       'reviews_per_month'],
      dtype='object')

In [ ]:
# columns that we dont need: 'listing_url' , 'summary', 'picture_url', 'host_name', host_url
#bcn_df['country'].unique()) #there irs only spain delete column
columns_to_delete = ['listing_url','summary','picture_url','host_name','host_url','country' ]  
bcn_df.drop(columns=columns_to_delete, inplace=True)
bcn_df.columns
# last review data formatting

# We're just analizing the city of Barcelona, so check for unique values
#print(bcn_df['city'].unique())
#Delete all entries for areas that are not barcelona, and convert all the Barcelonas wrtitten differently
#lowercase,  drop entries written in chinesse or rusian

In [ ]:
#null values accrossa whole row
#rows_with_nulls = bcn2_df.isnull().any(axis=1)
#print(bcn2_df[rows_with_nulls])

#rows_all_null = bcn2_df.isnull().all(axis=1)
#print(bcn2_df[rows_all_null])

#rows_all_null = bcn2_df.isnull().all(axis=1)
#print(bcn2_df[rows_all_null])

In [ ]:
# host since arreglar data format, ver la evolucion por años grafica
# for nul vaules in price  the average per neighborhood
#  cuantos  apart tiene una msima persona lista de ls que mas

#free_listings = bcn_df["price"] == 0

In [ ]:
# Convert the 'date' column to datetime
#bcn_df['date'] = pd.to_datetime(bcn_df['host_since'], errors='coerce')

In [ ]:
#bcn_df.isna().any()

#rows_all_null = bcn_df.isna().all(axis=1)

# Display these rows
#print("Rows where all values are NaN:\n", bcn_df[rows_all_null])

# Adjust pandas display options to show all rows and columns
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)

# Print the entire DataFrame (or a relevant part)
#print("Entire DataFrame:\n", bcn_df)

# Reset display options to default if needed
#pd.reset_option('display.max_rows')
#pd.reset_option('display.max_columns')

In [ ]:
#zipcode should be numerical an integer , write code then check for nul values
print(bcn_df['zipcode'].unique())
['8026' '8025' '8018' '8012' '8024' '8029' '8002' '8036' '8003' '8009'
 '8004' '8013' '8007' '8001' '8035' '8010' '8005' '8011' '8017' '8037'
 '8014' '8019' '8034' '8041' '8031' '8006' '8023' '8021' '8020' '8015' nan
 '8008' '8028' '8027' '8016' '8022' '8038' '8033' '8032' '8042' '8030'
 '8000' '8903' '.' '08019\n08019' '08014\n08028' '2015' '8902' '8937'
 '8930' '08013\n08013' '8039' '0' '92134' '8290' '28013' '2024' '80001'
 '8904' '80020' '9' 'O8001' '0.08029' '806' 'barcelona' '13-08008'
 '0.08002' '2335' '4008009' 8041.0 8007.0 8016.0 8027.0 8004.0 8024.0
 8003.0 8006.0 8011.0 8025.0 8015.0 8017.0 8036.0 8018.0 8001.0 8028.0
 8023.0 8014.0 8005.0 8012.0 8030.0 8010.0 8013.0 8029.0 8020.0 8002.0
 8026.0 8038.0 8008.0 8019.0 0.0 8034.0 8033.0 8037.0 8032.0 8009.0 8021.0
 8035.0 8042.0 8031.0 8039.0 8022.0]

In [ ]:
for the remaining  null in columns:
null_zipcode_count = bcn_df['zipcode'].isnull().sum()

you have to sustitute the null for the same value that for the column neighbourhood_cleansed has a correct zipcode in the rest of the df, so by neighbourhood_cleansed will find the zip-code for the null ones

In [ ]:
do the same but horizontically, and adding code to change the size

#x = list(grouped_location['Year'].index.values)
#y = grouped_location['Year'].iloc[:, 0].value_counts().index.to_list()
X_axis = np.arange(len(x))

plt.bar(X_axis - 0.4, y1, 0.2, label = 'fall')
plt.bar(X_axis - 0.2, y2, 0.2, label = 'spring')
plt.bar(X_axis + 0.0, y3, 0.2, label = 'summer')
plt.bar(X_axis + 0.2, y4, 0.2, label = 'winter')

#ax.set_xticklabels(x,rotation=45)
plt.xticks(X_axis, x)
plt.xlabel("County")
plt.ylabel("Total number of incidents")

plt.legend()
plt.show()

In [ ]:
how will you do like the same thing than below but instead of a barplot a line like a line in the time
frequency = bcn_df['host_since_year'].value_counts()
x = frequency.index.to_list()
y = list(frequency.values)
fig, ax = plt.subplots()
ax.set_ylabel('id')
ax.set_xlabel('host_since_year')
plt.bar(x,y)
plt.show()

In [ ]:
#we have the column bes and the column beedroom , i ned to add a new column that calculates the ratio of beds per bedroom, and that info goes in a nwe column called beds_ratio


# Calculate the ratio of beds per bedroom and store it in a new column
bcn_df['beds_ratio'] = bcn_df['beds'] / bcn_df['bedrooms']

# Show the updated DataFrame
#print(bcn_df.head())
#print(bcn_df['beds_ratio'].unique())

bcn_df['beds_ratio'] = (bcn_df['beds'] / bcn_df['bedrooms']).round(2)

# Replace 'inf' values with NaN
bcn_df['beds_ratio'] = bcn_df['beds_ratio'].replace(np.inf, np.nan).round(2)

# Fill NaN values in 'beds_ratio' column with the mean value of the corresponding 'neighbourhood_cleansed'
bcn_df['beds_ratio'] = bcn_df.groupby('neighbourhood_cleansed')['beds_ratio'].transform(lambda x: x.fillna(x.mean().round(2)))

# Show unique values in the 'beds_ratio' column
print(bcn_df['beds_ratio'].unique())

#after calculating the ratio it mus be in all cases an intiger (2 decimlas). Then for null values, fill the null value looking at the average value in the column neighbourhood_cleansed, so for each neighbourhood_cleansed with a null give the average for the same neighbourhood_cleansed

In [ ]:
the following columns need to be converted into integers


35  bathrooms                     19824 non-null  float64
 36  bedrooms                      19830 non-null  float64
 37  beds                          19799 non-null  float64