In [1]:
import numpy as np

print(lol)

NameError: name 'lol' is not defined

In [ ]:
bcn_df = pd.read_csv('../data/raw/barcelona_listings_kagel.csv')
ameError                                 Traceback (most recent call last)
Cell In[3], line 1
----> 1 bcn_df = pd.read_csv('../data/raw/barcelona_listings_kagel.csv')
      2 columns_to_delete = ['listing_url','neighborhood_overview','summary','space','picture_url','host_response_time','host_name','host_url','country', 'host_has_profile_pic', 'neighbourhood','street', 'host_picture_url' ] 
      3 bcn_df.drop(columns=columns_to_delete, inplace=True)

NameError: name 'pd' is not defined

In [ ]:
null_count = df[column_name].isnull().sum()
print(f"Number of null values in '{column_name}': {null_count}") #there are only 33 so i can delete them,
how can you check if for the same row in the column 'first_review', there is a  valid date and if there is replace that null with that date.

In [ ]:

null_clean_count = df4['cleaning_fee'].isnull().sum()
print(f"Number of null values in 'price': {null_clean_count}")

#for cleaning_fee fill up the null values with the average cleaning fee  looking at the average for f each neighbourhood_cleansed
(dont repite the previous code from above just from here)

In [ ]:
after doimn this
# APPLY DATE TIME FORMATTING
df3['host_since'] = pd.to_datetime(bcn_df['host_since'], errors='coerce')
# Check for null values in the 'date' column
null_dates = df3['host_since'].isnull().sum()
print(null_dates)
print(df1['host_since'].unique())

# CHECK FOR NULLS IN 'host_since' : IF NULL GIVE THE VALUE OF THE COLUMN 'first_review'
def fill_host_since_with_first(row):
    if pd.isnull(row['host_since']):
        return row['first_review']
    return row['host_since']

df3['host_since'] = df3.apply(fill_host_since_with_first, axis=1)
# Check if there are still null values in the 'first_review' column
null_host = df3['first_review'].isnull().sum()
print(f"Number of null values in 'first_review' after replacement: {null_host}")

Create a now column named 'host_since_year', extracting the year for frem the values in the column host_since

In [ ]:
fix this code


FILL MISSING INFO FOR NUMBER OF BEDROOMS, BEDS AND BATHROOM USING THE MEDIAN
"""

df7.room_type.value_counts()
df7.drop('room_type', axis=1, inplace=True)
for col in ['bathrooms', 'bedrooms', 'beds']:
    df7[col].fillna(df7[col].median(), inplace=True)


# Handle null values by filling with the mean value of the corresponding 'neighbourhood_cleansed'
df7['bathrooms'] = df7.groupby('neighbourhood')['bathrooms'].transform(lambda x: x.fillna(x.mean()))
df7['bedrooms'] = df7.groupby('neighbourhood')['bedrooms'].transform(lambda x: x.fillna(x.mean()))
df7['beds'] = df7.groupby('neighbourhood')['beds'].transform(lambda x: x.fillna(x.mean()))

# Convert columns to integer data type
df7['bathrooms'] = df7['bathrooms'].astype(int)
df7['bedrooms'] = df7['bedrooms'].astype(int)
df7['beds'] = df7['beds'].astype(int)

# Check the data types after conversion
#print(bcn_df.dtypes)
# Check for null values in 'zipcode' after filling
null_bath_count_after = df7['bathrooms'].isnull().sum()
null_bedro_count_after2 = df7['bedrooms'].isnull().sum()
null_bed_count_after3 = df7['beds'].isnull().sum()
print(f"Number of null values in 'zipcode' after filling nulls: {null_bath_count_after}")
print(f"Number of null values in 'zipcode' after filling nulls: {null_bedro_count_after2}")
print(f"Number of null values in 'zipcode' after filling nulls: {null_bed_count_after3}")

In [ ]:
ivot_room_type =df8.pivot_table(index="room_type", columns="neighbourhood_group_cleansed", values="price", aggfunc='mean')

i want a similar display than below, but for county i want to select some values  of the column

fig, ax = plt.subplots()
#y = grouped_location['VOLUSIA COUNTY']

#x = list(grouped_location['Year'].index.values)
#y = grouped_location['Year'].iloc[:, 0].value_counts().index.to_list()
X_axis = np.arange(len(x))

plt.bar(X_axis - 0.4, y1, 0.2, label = 'fall')
plt.bar(X_axis - 0.2, y2, 0.2, label = 'spring')
plt.bar(X_axis + 0.0, y3, 0.2, label = 'summer')
plt.bar(X_axis + 0.2, y4, 0.2, label = 'winter')

#ax.set_xticklabels(x,rotation=45)
plt.xticks(X_axis, x)
plt.xlabel("County")
plt.ylabel("Total number of incidents")

plt.legend()
plt.show()

In [1]:
I like to do the same or a similar code in order to have a new column with the cleaned amenities for my colum 'amenities'
    
    INPUT:
    - row : from dataset having amenities attribute
    OUTPUT:    
    - list of amenities derived from the value of `amenities` attribute in row
"""
def separate_amenities(row):
    amenities = row.amenities
    list_to_return = []
    if (amenities is not None and type(amenities) == str):            
        list_to_return = list(map(lambda amenity : amenity.replace("\"","").replace("{","").replace("}", ""), amenities.split(",")))
    if '' in list_to_return:
        list_to_return.remove('')
    return list_to_return
s_listings_cleaned["amenities_list"] = s_listings_cleaned.apply(separate_amenities, axis=1)

possible_amenities = s_listings_cleaned['amenities_list'].apply(pd.Series).stack().unique()
possible_amenities

 Assigns new boolean attribute to the row based on the presence of that amenity in the list.
    Returns updated row with additional attributes corresponding to the amenities added to it.
    
    INPUT:
    - row containing attributes related to the property, including `amenities_list`
    OUTPUT:
    - row containing newly added boolean attributes indicating the presence of each possible type of amenity in the property
"""
def add_amenities_columns (row):
    amenities = set(row.amenities_list)
    for possible_amenity in possible_amenities:
        row["amenity_" + possible_amenity] = possible_amenity in amenities
    return row

s_listings_cleaned = s_listings_cleaned.apply(add_amenities_columns, axis=1)

SyntaxError: invalid syntax (704283969.py, line 1)

In [ ]:

can you do the following representation for the df of airbnb listing  but each label should be the average value of a  diferent column ( instead of fall will be the average of the column callew cleaning score, instead of sprong location score, 
and then  the x lable wil be grouped neighbourhood and the y label total score

#x = list(grouped_location['Year'].index.values)
#y = grouped_location['Year'].iloc[:, 0].value_counts().index.to_list()
X_axis = np.arange(len(x))

plt.bar(X_axis - 0.4, y1, 0.2, label = 'fall')
plt.bar(X_axis - 0.2, y2, 0.2, label = 'spring')
plt.bar(X_axis + 0.0, y3, 0.2, label = 'summer')
plt.bar(X_axis + 0.2, y4, 0.2, label = 'winter')

#ax.set_xticklabels(x,rotation=45)
plt.xticks(X_axis, x)
plt.xlabel("County")
plt.ylabel("Total number of incidents")

plt.legend()
plt.show()